<%- include("header") -%>

<h1 style = "text-align:center; color: #A683E3">About Lythmass</h1>
<p style = "text-align:center">I love porgramming and you should too!</p>

<%- include("footer") -%>
